extends layout
block content
  l hello angular
  title Learning AngularJS
  #content(ng-controller='angularController')
    | {{understand}}
    input(type='text', ng-model='inputValue')
    | {{inputValue}}
    select(ng-model='selectedPerson', ng-options='obj.name for obj in people')
    select(ng-model='selectedGenre')
      option(ng-repeat='label in people[selectedPerson.id].music') {{label}}
    input(type='text', ng-model='searchText')
    ul
      li(ng-repeat='person in people | filter:searchText') {{person.id}} {{person.name}}

  #somediv(ng-controller='collapsedemoctrl')
    button.btn.btn-default(ng-click='isCollapsed = !isCollapsed') Toggle collapse
      hr
      div(collapse='isCollapsed')
        .well.well-lg Some content

  include modal

  div(ng-controller='ProgressDemoCtrl')
    h3 Static
    .row
      .col-sm-4
        progressbar(value='55')
      .col-sm-4
        progressbar.progress-striped(value='22', type='warning') 22%
      .col-sm-4
        progressbar.progress-striped.active(max='200', value='166', type='danger')
          i 166 / 200
    hr
    h3
      | Dynamic
      button.btn.btn-sm.btn-primary(type='button', ng-click='random()') Randomize
    progressbar(max='max', value='dynamic')
      span(style='color:black; white-space:nowrap;') {{dynamic}} / {{max}}
    small
      em No animation
    progressbar(animate='false', value='dynamic', type='success')
      b {{dynamic}}%
    small
      em Object (changes type based on value)
    progressbar.progress-striped.active(value='dynamic', type='{{type}}')
      | {{type}}
      i(ng-show='showWarning') !!! Watch out !!!
    hr
    h3
      | Stacked
      button.btn.btn-sm.btn-primary(type='button', ng-click='randomStacked()') Randomize
    progress
      bar(ng-repeat='bar in stacked track by $index', value='bar.value', type='{{bar.type}}')
        span(ng-hide='bar.value < 5') {{bar.value}}%

  .hero-unit
    h1 Marketing stuff!
    p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    a(href="#" class="btn btn-large btn-success") Get Started
    a(href="#" class="btn btn-mini btn-info") Get Started
