extends layout
block content
  l hello angular
  title Learning AngularJS
  #content(ng-controller='angularController')
    | {{understand}}
    input(type='text', ng-model='inputValue')
    | {{inputValue}}
    select(ng-model='selectedPerson', ng-options='obj.name for obj in people')
    select(ng-model='selectedGenre')
      option(ng-repeat='label in people[selectedPerson.id].music') {{label}}
    input(type='text', ng-model='searchText')
    ul
      li(ng-repeat='person in people | filter:searchText') {{person.id}} {{person.name}}

  #somediv(ng-controller='collapsedemoctrl')
    button.btn.btn-default(ng-click='isCollapsed = !isCollapsed') Toggle collapse
      hr
      div(collapse='isCollapsed')
        .well.well-lg Some content

  #somediv2(ng-controller='ModalDemoCtrl')
    script#myModalContent(type='text/ng-template')
      .modal-header
        h3.modal-title I'm a modal!
      .modal-body
        ul
          li(ng-repeat='item in items')
            a(ng-click='selected.item = item') {{ item }}
        | Selected:
        b {{ selected.item }}
      .modal-footer
        button.btn.btn-primary(ng-click='ok()') OK
        button.btn.btn-warning(ng-click='cancel()') Cancel
    button.btn.btn-default(ng-click='open()') Open me!
    button.btn.btn-default(ng-click='open("lg")') Large modal
    button.btn.btn-default(ng-click='open("sm")') Small modal
    div(ng-show='selected') Selection from a modal: {{ selected }}


  div(ng-controller='ProgressDemoCtrl')
    h3 Static
    .row
      .col-sm-4
        progressbar(value='55')
      .col-sm-4
        progressbar.progress-striped(value='22', type='warning') 22%
      .col-sm-4
        progressbar.progress-striped.active(max='200', value='166', type='danger')
          i 166 / 200
    hr
    h3
      | Dynamic
      button.btn.btn-sm.btn-primary(type='button', ng-click='random()') Randomize
    progressbar(max='max', value='dynamic')
      span(style='color:black; white-space:nowrap;') {{dynamic}} / {{max}}
    small
      em No animation
    progressbar(animate='false', value='dynamic', type='success')
      b {{dynamic}}%
    small
      em Object (changes type based on value)
    progressbar.progress-striped.active(value='dynamic', type='{{type}}')
      | {{type}}
      i(ng-show='showWarning') !!! Watch out !!!
    hr
    h3
      | Stacked
      button.btn.btn-sm.btn-primary(type='button', ng-click='randomStacked()') Randomize
    progress
      bar(ng-repeat='bar in stacked track by $index', value='bar.value', type='{{bar.type}}')
        span(ng-hide='bar.value < 5') {{bar.value}}%

