extends layout
block content
  .container
    h1
      a(href="”#”") Bootstrap Site
    .navbar
      .navbar-inner
        .container
          ul.nav
            li.active
              a(href="#") Home
            li
              a(href="#") Projects
            li
              a(href="#") Services
            li
              a(href="#") Downloads
            li
              a(href="#") About
            li
              a(href="#") Contact
    .row
     .span4
       ul.nav.nav-list
         li.nav-header What we are?
         li.active
           a(href='#') Home
         li
           a(href='#') Our Clients
         li
           a(href='#') Our Services
         li
           a(href='#') About Us
         li
           a(href='#') Contact Us
         li.nav-header Our Friend
         li
           a(href='#') Google
         li
           a(href='#') Yahoo!
         li
           a(href='#') Bing
         li
           a(href='#') Microsoft
         li
           a(href='#') Gadgetic World
     .span8
       h3 How we started ?
       p
         | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
       p
         | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
       h3 How do we market?
       p
         | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
       p
         | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
       div.row
         .span4
           h4.muted.text-center Meet Our Clients
           p
             | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
           a.btn(href='#')
             i.icon-user
             | Our Clients
         .span4
           h4.muted.text-center Know Our Employees
           p
             | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
           a.btn.btn-success(href='#')
             i.icon-star.icon-white
             | Our Employees
         .span4
           h4.muted.text-center Reach Us
           p
             | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
           a.btn.btn-info(href='#') Contact Us
    .footer
      p &copy; 2013



    // adding the correct css
    link(rel='stylesheet' href='/stylesheets/bootstrap.css')


