extends layout
block content
    h1= title
    ul#books
    l(style='font-size:20px; font-weight:bold; text-decoration:underline;') NodeJs, Express, Angular, Bootstrap MVC Example
    br
    l(style='font-weight:bold; text-decoration:underline;') Sequelize Example
    li
        a(href="newuser") Add New User
    li
        a(href="newuserandtask") Add New User And Task
    li
        a(href="userlist") Show Users List
    li
        a(href="addtasktouser") Add New Task To User
    l(style='font-weight:bold; text-decoration:underline') Other Examples
    li
      a(href="ajax_example") Ajax Example
    li
      a(href="angular") Bootstrap & AngularJS Example
