extends layout
block content
    h1= title
    ul#books
    li
        a(href="newuser") Add New User
    li
        a(href="newuserandtask") Add New User And Task
    li
        a(href="userlist") Show Users List
    li
        a(href="addtasktouser") Add New Task To User
