extends layout
block content
 h1= title
 h2 Users
 ul
 each user in users
   li
     l User Name:
     = user.username
     l ;
     l User Email:
     = user.email
     ul(style='background-color: #F8F8F8;')
       each task in user.tasks
         li
           = task.title